<template>
    <div class="container">

        <!-- <div class="container-sm my-5 bg-color-light">Détendez-vous et calmez votre petite ou grande faim.
        Pizza à DOM vous invite à déguster nos spécialités.
        Des pizzas, burgers et paninis, sur place ou à emporter.
        Nous livrons uniquement le soir, du vendredi au dimanche.
        Poussez les portes de notre établissement.
        </div> -->

        <div class="row justify-content-center">
            <div class="col-4 my-4" v-for="pizza in pizzas" :key="pizza.id">
                <div class="card">
                <router-link :to="'/show/'+pizza.name">
                  <img :src="pizza.picture" class="card-img-top" :alt="'Pizza '+pizza.name"/>
                </router-link>
                  <div class="card-body">
                    <h5 class="card-title text-center">{{pizza.name}}</h5>
                    <div v-if="user">
                        <button class="btn-success w-100">Ajouter au panier</button>
                    </div>
                    <hr>
                    <span class="card-text d-inline" v-for="(ingredients, index) in pizza.ingredients" :key="ingredients.ingredient">
                      {{ingredients.ingredient}}<em v-if="ingredients.ingredient.length - 1 != index">,</em>
                    </span>
                  </div>
                    <router-link class="btn-primary text-center" style="height:30px;" :to="'/show/'+pizza.name">{{pizza.name}}</router-link>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
  props: ['user'],
    data () {
      return {
        pizzas: [],
      }
    },
    mounted () {
      axios
        .get('http://127.0.0.1:8000/api/pizzas')
        .then(response => (this.pizzas = response.data.data))
    },
}

    document.body.background = "../storage/fond/fond.jpg";

</script>
