<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card">
                  <img :src="pizza.picture" class="card-img-top" :alt="'Pizza '+pizza.name"/>
                  <div class="card-body">
                    <h5 class="card-title text-center">{{pizza.name}}</h5>
                    <div v-if="user">
                        <button class="btn-success w-100">Ajouter au panier</button>
                    </div>
                    <hr>
                    <h6>Ingrédients : </h6>
                    <span class="card-text d-inline" v-for="ingredients in pizza.ingredients" :key="ingredients.ingredient">
                      {{ingredients.ingredient}},
                    </span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    props: ['name', 'user'],
    data () {
      return {
          pizza: [],
      }
    },
      mounted () {
        axios
          .get('http://127.0.0.1:8000/api/pizzas/'+this.name)
          .then(response => (this.pizza = response.data.data))
      },
}
    document.body.background = "../storage/fond/fond1.jpg";
</script>
